@using CD.ClaimSoft.Application.Models.Agencies
@using CD.ClaimSoft.Common.Helpers

@using Syncfusion.MVC.EJ

@model Agency

<div id="agencyEditTemplate" style="margin-bottom: 15px;">

    @{Html.EJ().Tab("agencyEditTab").Items(data =>
        {
            data.Add().ID("agencyDetail").Text("Details").ContentTemplate(@<div></div>);
            data.Add().ID("agencyAddress").Text("Addresses").ContentTemplate(@<div></div>);
            data.Add().ID("agencyPhoneEmail").Text("Phone/Email").ContentTemplate(@<div></div>);
            data.Add().ID("agencyNotesAttachments").Text("Notes/Attachments").ContentTemplate(@<div></div>);
        }).ClientSideEvents(e =>
        {
            e.ItemActive("OnClientActive").Create("OnClientActive");
        }).Render();
}

</div>

<script>

    function OnClientActive(e) {
        if (e.model.selectedItemIndex === 0 && ej.isNullOrUndefined(isAgencyDetailLoaded)) {

            $.ajax({
                url: "/Administration/Administration/AgencyDetail",
                type: "POST",
                data: '{agencyTenantId: "@Model.AgencyTenantId" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#agencyDetail").html(result);

                    ej.widget.init("#agencyDetail");
                },
                failure: function (result) {
                    alert(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

            isAgencyDetailLoaded = true;
        }

        if (e.model.selectedItemIndex === 1 && ej.isNullOrUndefined(isAgencyAddressLoaded)) {
            $.ajax({
                url: "/Administration/Administration/AgencyAddress",
                type: "POST",
                data: '{agencyTenantId: "@Model.AgencyTenantId" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#agencyAddress").html(result);

                    ej.widget.init("#agencyAddress");
                },
                failure: function (result) {
                    alert(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

            isAgencyAddressLoaded = true;
        }

        if (e.model.selectedItemIndex === 2 && ej.isNullOrUndefined(isAgencyPhoneEmailLoaded)) {
            $.ajax({
                url: "/Administration/Administration/AgencyPhoneEmail",
                type: "POST",
                data: '{agencyTenantId: "@Model.AgencyTenantId" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#agencyPhoneEmail").html(result);

                    ej.widget.init("#agencyPhoneEmail");
                },
                failure: function (result) {
                    alert(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

            isAgencyPhoneEmailLoaded = true;
        }
    
        if (e.model.selectedItemIndex === 3 && ej.isNullOrUndefined(isAgencyAdminNotesAttachLoaded)) {
            $.ajax({
                url: "/Administration/Administration/AgencyNotesAttachments",
                type: "POST",
                data: '{agencyTenantId: "@Model.AgencyTenantId" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#agencyNotesAttachments").html(result);

                    ej.widget.init("#agencyNotesAttachments");
                },
                failure: function (result) {
                    alert(result);
                },
                error: function (result) {
                    alert(result);
                }
            });

            isAgencyAdminNotesAttachLoaded = true;
        }
    }

    //# sourceURL=AgencyEdit.cshtml
</script>

@(Html.EJ().ScriptManager())