@using CD.ClaimSoft.Application.Models.Agencies
@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.Models
@using Syncfusion.MVC.EJ

@model AgencyAddress

<div id="addressEditTemplate" style="margin-bottom: 15px;">
    <div style="float: left; margin-left: 10px; width: 60%;">
        <div style="float: left; width: 275px; margin-bottom: 5px;">
            <label style="font-weight: bold;">Address 1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "e-textbox e-animation", style = "width: 250px;" })
        </div>
        <div style="padding-top: 28px;">
            <label style="font-weight: bold;">Address 2</label>
            @Html.TextBoxFor(m => m.Address2, new { @class = "e-textbox e-animation", style = "width: 250px;" })
        </div>
        <div class="clear"></div>

        <div style="float: left; width: 275px;">
            <label style="font-weight: bold;">City</label>
            @Html.TextBoxFor(m => m.City, new { @class = "e-textbox e-animation", style = "width: 250px;" })
        </div>
        <div style="float: left; width: 275px;">
            <label style="font-weight: bold; width: 200px;">County</label>
            @Html.EJ().DropDownListFor(o => o.CountyId, (DropDownListProperties)ViewBag.CountyDDL)
        </div>
        <div class="clear"></div>

        <div style="float: left; width: 275px;">
            <label style="font-weight: bold;">State</label>
            @Html.EJ().DropDownListFor(o => o.StateId, (DropDownListProperties)ViewBag.StateDDL)
        </div>
        <div style="float: left; width: 275px;">
            <label style="font-weight: bold; width: 200px;">Zip Code</label>
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "e-textbox e-animation" })
        </div>
        <div class="clear"></div>
    </div>

    <div style="float: left;">
        @Html.HiddenFor(m => m.AgencyId)
        <div><label style="font-weight: bold; width: 122px;">Create By: </label>@Model.CreateBy</div>
        @Html.HiddenFor(m => m.CreateBy)
        <div><label style="font-weight: bold; width: 122px;">Create Date: </label>@Model.CreateDate</div>
        @Html.HiddenFor(m => m.CreateDate)
        <div><label style="font-weight: bold; width: 122px;">Last Modify By: </label>@Model.LastModifyBy</div>
        @Html.HiddenFor(m => m.LastModifyBy)
        <div><label style="font-weight: bold; width: 122px;">Last Modify Date: </label>@Model.LastModifyDate</div>
        @Html.HiddenFor(m => m.LastModifyDate)
    </div>
    <div class="clear"></div>

</div>

@(Html.EJ().ScriptManager())
