@using CD.ClaimSoft.Application.Models.Agencies
@using CD.ClaimSoft.Common.Helpers

@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ

@model AgencyNumber

<div id="numberEditTemplate" style="margin-bottom: 15px;">
    <img class="agencyNumberTooltip" style="width: 25px; float: left; margin-right: 10px;" src="~/Content/Images/info.png" alt="Audit Information" />
    <div style="border: 1px solid #cecece; padding: 5px; width: 300px; display: none;">
        <div>
            <div>
                <span style="font-weight: bold; width: 90px;"> Create By: </span> @Model.CreateBy
                @Html.HiddenFor(m => m.CreateBy)
            </div>
            <div>
                <span style="font-weight: bold; width: 90px;"> Create Date: </span> @Model.CreateDate
                @Html.HiddenFor(m => m.CreateDate)
            </div>
        </div>
        <div>
            <div>
                <span style="font-weight: bold; width: 122px;">Last Modify By: </span> @Model.LastModifyBy
                @Html.HiddenFor(m => m.LastModifyBy)
            </div>
            <div>
                <span style="font-weight: bold; width: 122px;">Last Modify Date:</span>@Model.LastModifyDate
                @Html.HiddenFor(m => m.LastModifyDate)
            </div>
        </div>
    </div>

    <div style="margin-left: 10px;">
        <div style="width: 275px; margin-bottom: 5px;">
            @Html.LabelForRequired(model => model.Number, null)
            @Html.TextBoxFor(model => model.Number, new { @class = "e-textbox e-animation", style = "width: 250px;" })
        </div>
        <div>
            @Html.EJ().CheckBoxFor(m => m.IgnoreTimeStamps).ShowRoundedCorner(true).Text("Ignore Time Stamps for NEMSIS Import")
        </div>
    </div>
</div>

<script>

    $('.agencyNumberTooltip').each(function () {
        $(this).qtip({
            content: {
                text: $(this).next('div')
            },
            position: {
                my: 'center right',
                at: 'left center',
                target: $('.agencyNumberTooltip')
            },
            style: {
                classes: 'qtip-bootstrap qtip-shadow qtip-rounded',
                width: 330,
                height: 115
            }
        });
    });

    //# sourceURL=AgencyNumberEdit.cshtml
</script>

@(Html.EJ().ScriptManager())
